<!--
  Generated template for the Registrop1 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
     <ion-navbar color="danger">
    <ion-title>Registro</ion-title>
  </ion-navbar>
  </ion-navbar>

</ion-header>

<ion-content padding >

<ion-row>
  <p color="light">Ingresa tu email a continuación</p>
</ion-row>

 <ion-row>
 <ion-item class="item-content">
    <ion-label floating color="light">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" ></ion-input>
 </ion-item>
</ion-row>

  <ion-row>
    <p color="light">Ingresa un password que nunca puedas olvidar</p>
  </ion-row>

  <ion-row>
    <ion-item class="item-content">
      <ion-label floating color="light">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-row>

<ion-row>
    <ion-col width-30>
    </ion-col>
    <ion-col width-30>
    </ion-col>
    <ion-col width-40>
      <button ion-button block color="light" outline (click)="crearCuenta()">Siguiente</button>
    </ion-col>
</ion-row>

</ion-content>