<!--
  Generated template for the CreateActivity page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Publicar Producto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <img class="center" src={{downloadURL}}>
  
  <button ion-button clear class="center" (click)="editImage()">Agregar Foto</button>

  <ion-card>
    <ion-card-header>
      Nombre
    </ion-card-header>
    <ion-card-content>
      <ion-input placeholder="Nombre de tu producto" [(ngModel)]="name" ></ion-input>
    </ion-card-content>
  </ion-card>
  

  <ion-card>
    <ion-card-header>
      Descripcion
    </ion-card-header>
    <ion-card-content>
      <ion-textarea placeholder="Descripcion de tu producto" [(ngModel)]="description" ></ion-textarea>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Precio
    </ion-card-header>
    <ion-card-content>
      <ion-input placeholder="Precio en Quetzales" type="number" [(ngModel)]="price" ></ion-input>     
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-segment>
    <ion-segment-button (click)="addProduct(restaurante)">
      Agregar Producto      
    </ion-segment-button>
  </ion-segment>
</ion-footer>
