<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <p ion-text>Ingresa tu nombre de usuario y contraseña</p>
  </ion-row>
  <ion-row>
    <ion-item class="item-content">
      <ion-label floating color="light">Email o usuario</ion-label>
      <ion-input type="text" [(ngModel)]="email" ></ion-input>
    </ion-item>
    <ion-item class="item-content">
      <ion-label floating color="light">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-col width-30>

    </ion-col>
      
    <ion-col width-30>
      <button ion-button block color="secondary" outline (click)="registro()">Soy Nuevo</button>
    </ion-col>
    <ion-col width-40>
      <button ion-button block color="primary" outline (click)="login()">Siguiente</button>
    </ion-col>
</ion-row>
</ion-content>
