<!--
  Generated template for the Publicaciones page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
  <ion-row  color="secondary">
    <ion-col width-10>
     <button ion-button menuToggle>
     <ion-icon name="menu"></ion-icon>  
     </button>
    </ion-col>
    <ion-col width-90>
  	<ion-searchbar
 		placeholder="¿Buscas algo en especifico?" >
    </ion-searchbar>  
    </ion-col>
  </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-card *ngFor="let product of products" (click)="viewDetail(product.key)">
      <ion-row>
        <ion-col col-3>
          <ion-avatar>
            <img class="imagen" src={{product.image}}>
          </ion-avatar>
        </ion-col>
        <ion-col col-9>
          <ion-row>Producto: {{product.name}}</ion-row>
          <ion-row>Precio: {{product.price}}</ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>
