<!--
  Generated template for the RestaurantProducts page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Productos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <div *ngFor="let product of products">
      <ion-card *ngIf="validate(product.key)" (click)="viewDetail(product.key)">
      <ion-row>
        <ion-col col-3>
          <ion-avatar>
            <img class="imagen" src={{product.image}}>
          </ion-avatar>
        </ion-col>
        <ion-col col-9>
          <ion-row>Nombre: {{product.name}}</ion-row>
          <ion-row>Precio: {{product.price}}</ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
    </div>
</ion-content>
