<!--
  Generated template for the Dashboard page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs color="secondary">
  <ion-tab [root]="tab1Root" tabTitle="Restaurantes" ></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Publicaciones" ></ion-tab>
</ion-tabs>
