<!--
  Generated template for the Restaurantes page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
  <ion-row  color="secondary">
    <ion-col width-10>
     <button ion-button menuToggle>
     <ion-icon name="menu"></ion-icon>  
     </button>
    </ion-col>
    <ion-col width-90>
  	<ion-searchbar
 		placeholder="¿Buscas algo en especifico?" >
    </ion-searchbar>  
    </ion-col>
  </ion-row>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <div *ngFor="let restaurante of items" no-padding>
    <ion-card (click)="restaurantsProducts(restaurante.key)">
      <ion-row>
        <ion-col width-25>
          <ion-avatar class="animated fadeInDown">
            <img src={{restaurante.imagen}}>
          </ion-avatar>
        </ion-col>
        <ion-col width-75>
          <ion-row>
            <ion-col width-20></ion-col>
            <ion-col width-80>
              <h2>Nombre: {{restaurante.nombre}}</h2>
            </ion-col>  
          </ion-row>
          <ion-row>
            <ion-col width-20></ion-col>
            <ion-col width-80>
              <h2>DIreccion: {{restaurante.direccion}}</h2>
            </ion-col>  
          </ion-row>
          <ion-row>
            <ion-col width-20></ion-col>
            <ion-col width-80>
              <h2>Sitio: {{restaurante.web}}</h2>
            </ion-col>  
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <ion-fab *ngIf="!checkRestaurant()" center bottom>
   <button menuClose ion-fab color="morado" (click)="createActivity()">
    <ion-icon name="add"></ion-icon>
   </button>
 </ion-fab>

</ion-content>
