<ion-content padding class="animated slideInUp">

<div class="centerH">
<h4 class="cent" color="morado">¿Quieres rentabilizar tu negocio? </h4>
<h3 class="cent" color="morado">EMPIEZA AHORA</h3>
 <ion-item class="item-content">
    <ion-label floating color="favorite" text-center>Ingresa el nombre de tu negocio</ion-label>
    <ion-input type="text" [(ngModel)]="nombre" color="favorite"></ion-input>
 </ion-item>

 <ion-item class="item-contet">
  <ion-label floating color="favorite" text-center>Ingresa la direccion de tu negocio</ion-label>
  <ion-input type="text" [(ngModel)]="direccion" color="favorite"></ion-input>
 </ion-item>

  <ion-item class="item-content" >
    <ion-label floating color="favorite" text-center >Sítio Web</ion-label>
    <ion-input [(ngModel)]="web" type="text"></ion-input>
 </ion-item>
</div>
</ion-content>
<ion-footer >
<button ion-fab color="morado" class="center" large (click)="sig()">
  <ion-icon name="arrow-down"></ion-icon>
</button>
</ion-footer>