page-comercio1 {
    .centerH{
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h4.cent {
    text-align: center;
}
p.cent {
    text-align: center;
}
h3.cent {
	text-transform:uppercase;
    text-align: center;
    font-weight: bold;
}

#address {
      width: 100%;
      border: none;
      text-align: center;
    }
  .item-fab{
    overflow: hidden;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
