page-home {
    .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.content1 {
  background-color: #3CB371;
 // height:400px
}
.content2 {
  background-color: #FFA500;
 // height:400px
}
.content3 {
  background-color: #663399;
 // height:400px
}
.capa1{ 
 position:absolute;
 z-index:0;
 top:200px;
 left:50px;
 width:200px;
 height:200px;
}
.capa2{ 
 position:absolute;
 z-index:1;
 top:280px;
 left:150px;
 width:150px;
 height:150px;
}

}
